body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;
    background: url('/img/mart-drac.jpeg') no-repeat center center fixed;
                                             -webkit-background-size: cover;
                                             -moz-background-size: cover;
                                             -o-background-size: cover;
                                             background-size: cover;
}
body{
    background-color: #000;
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}